# Modelagem de dados b√°sica üß†

**Bancos de dados relacionais** s√£o a base para SQL e para todos os sistemas de banco de dados modernos, como MSSQL Server, IBM DB2, Oracle, MySQL, Microsoft Access dentre outros.

Um banco de dados relacional √© um conjunto coletivo de v√°rios conjuntos de dados organizados por tabelas, registros e colunas. Eles estabelecem uma rela√ß√£o bem definida entre tabelas de banco de dados. As tabelas comunicam e compartilham informa√ß√µes, o que facilita a capacidade de pesquisa, organiza√ß√£o de dados e gera√ß√£o de relat√≥rios.

## Modelo de dados l√≥gico
![Data Modeling](../img/aula01/model.png)

## Modelo de dados f√≠sico
![Data Modeling](../img/aula01/sql_model.png)

Recomenda√ß√µes de leitura: üìñ

Modelagem de dados
- [Modelagem Relacional (uma vis√£o geral)](https://medium.com/blog-do-zouza/modelagem-relacional-uma-vis%C3%A3o-geral-44cd8807fc87)
- [Introduction to Data Modeling for Power BI Video Course - SQLBI](https://www.sqlbi.com/p/introduction-to-data-modeling-for-power-bi-video-course/)
- [What is data modeling?](https://www.techtarget.com/searchdatamanagement/definition/data-modeling)

Um conceito central das bases de dados relacionais √© **reduzir a redund√¢ncia nos dados**, em um processo denominado **normaliza√ß√£o**. Isto significa que se pretende que os dados sejam armazenados uma √∫nica vez. Se os dados s√£o redundantes, voc√™ corre o risco de contradi√ß√£o, reduzindo a integridade dos dados.

**Exemplo 1**

![Exemplo 1](../img/aula01/modelling_example.png)

**Exemplo 2**

![Exemplo 2](../img/aula01/modelling_good.png)

## **Desafios**

> Suponha que o campo *Cota Topo (m)* pudesse sofrer altera√ß√µes com o tempo...
>  
> Como adaptar o modelo para ser compat√≠vel com esta varia√ß√£o ?

*Exemplo:* O ponto P1 teve a `Cota Topo` alterada de 215m para 212m em 01/08/2023...

Proposi√ß√£o:

![Desafio Modelagem](../img/aula01/modelling_challenges.png)

Poss√≠vel solu√ß√£o:

![Solution type 4](../img/aula01/modelling_challenge_solution.png)

Recomenda√ß√µes de leitura: üìñ
- [Slowly changing dimension](https://en.wikipedia.org/wiki/Slowly_changing_dimension#Type_4:_add_history_table)
- [Manipulando Slowly Changing Dimensions (SCD) usando Delta Tables](https://medium.com/blog-do-zouza/manipulando-slowly-changing-dimensions-scd-usando-delta-tables-48e16bfb80ad)
- [Slowly Changing Dimension in Data Warehousing](https://medium.com/@Muhammad7Salah/slowly-changing-dimension-in-data-warehouse-7ca21e0e8c9)

## Spoiler:

Tabela ***toc*** do HGA:

![Tabela Station_TOC HGA](../img/aula01/station_toc.png)

**Tabelas** üõè

No Azure Data Studio/SSMS, dentro da pasta de tabelas, voc√™ encontrar√° todos os dados brutos armazenados no banco de dados.

Voc√™ pode expandir ainda mais as tabelas com o s√≠mbolo + para visualizar suas colunas, chaves etc.
√Äs colunas √© atribu√≠do um tipo de dados que n√£o pode ser violado, al√©m de configurada as op√ß√µes de permitir nulos ou n√£o.

Os tipos de dados mais utilizados s√£o os seguintes:

- nvarchar/varchar - armazenar texto de diferentes tipos
- int - N√∫meros inteiros (n√∫meros inteiros)
- decimal - para as casas decimais de uma precis√£o determinada
- float - N√∫meros de ponto flutuante
- datetime - Datas e horas

Cada tabela deve ter uma **Chave prim√°ria** (*PK - Primery Key*) √† qual todos os outros campos da tabela estejam relacionados. A PK basicamente √© um campo ou conjunto de campos com **valores exclusivos por toda a tabela**. Se isso estiver definido para uma tabela, ela poder√° ser visualizada na se√ß√£o *Chaves* abaixo das tabelas. üóù

**Esquemas** üë©‚Äçüë©‚Äçüë¶

Objetos dentro de um banco de dados podem ser agrupados em diferentes esquemas. 

Permiss√µes em tabelas s√£o geralmente herdadas de permiss√µes nos esquemas, i.e. se voc√™ tem permiss√£o para usar um esquema, voc√™ tem permiss√µes para usar todas as tabelas dentro dele.

# Fundamentos de SQL üíª

A linguagem SQL √© dividida em comandos agrupados por sua funcionalidade.

![Grupos SQL](../img/aula01/grupos_sql.png)

Os tipos da linguagem SQL s√£o:

- **DQL - Data Query Language**¬†- Linguagem de Consulta de dados.
    - S√£o os comandos de consulta.
    - Exemplos:¬†`SELECT`,¬†`FROM`
    - Em alguns livros o SELECT fica na DML em outros tem um grupo pr√≥prio.
- **DML - Data Manipulation Language**¬†<span style="color: var(--vscode-foreground);">- Linguagem de Manipula√ß√£o de Dados.</span>
    - <span style="color: var(--vscode-foreground);">S√£o os comandos que interagem com os dados dentro das tabelas.</span>
    - <span style="color: var(--vscode-foreground);">Exemplos:&nbsp;</span>¬†`INSERT`<span style="color: var(--vscode-foreground);">,&nbsp;</span>¬†`DELETE`¬†<span style="color: var(--vscode-foreground);">&nbsp;e&nbsp;</span>¬†`UPDATE`
- DDL - Data Definition Language - Linguagem de Defini√ß√£o de Dados.
    - S√£o os comandos que interagem com os objetos do banco (tabelas, views, triggers _etc_).
    - Exemplos: `CREATE`, `ALTER`, `DROP`, `TRUNCATE`, `RENAME` e `COMMENT`.
- <span style="color: var(--vscode-foreground);">DCL - Data Control Language - Linguagem de Controle de Dados.</span>
    - <span style="color: var(--vscode-foreground);">S√£o os comandos para controlar a parte de seguran√ßa do banco de dados.</span>
    - <span style="color: var(--vscode-foreground);">Exemplos:&nbsp;</span>¬†`GRANT`<span style="color: var(--vscode-foreground);">,&nbsp;</span>¬†`REVOKE`¬†<span style="color: var(--vscode-foreground);">&nbsp;e&nbsp;</span>¬†`DENY`<span style="color: var(--vscode-foreground);">.</span>
- DTL - Data Transaction Language - Linguagem de Transa√ß√£o de Dados.
    - S√£o os comandos para controle de transa√ß√£o.
    - Exemplos: `BEGIN TRANSACTION`, `COMMIT` e `ROLLBACK`

### Como o HGA interage com o banco de dados SQL ? 

[Bate Papo - HydroGeo Analyst  e SQL_v0.pdf](https://waterltda.sharepoint.com/:b:/s/WST-DataManagement-DashboardsBI/ESR2OpshceVBtSYrI9XiIdoB7816VIRHnlaocHZeU06gxw?e=Axz5A6)

[[Bate Papo] HGA e SQL-20230425_142119-Grava√ß√£o de Reuni√£o](https://waterltda.sharepoint.com/:v:/s/WSTTeam/ETRmtQo44y5JpPsJZw026wcB1kyFzcleQnTpKFtKH4m1jg?e=rMPvwX)

![HGA + SQL](../img/aula01/hga_sql.png)

## 1. Como obter dados de um banco SQL ? üëì 

Para iniciarmos nossos estudos utilizaremos a inst√¢ncia de dados do banco **SQL_TREINAMENTO** restaurada.

Uma consulta b√°sica no SQL √© composta pela a instru√ß√£o `SELECT ... FROM`. Estes operadores permitem ler registros de uma ou mais tabelas. A sintaxe b√°sica √© mostrada a seguir:

```sql
SELECT
    [column_name_1]
    ,...
    ,[column_name_n]
FROM [schema_name].[table_name]
```

A substitui√ß√£o dos nomes das colunas por * retornar√° **todas** as colunas no conjunto de dados.

> **DICA:** Durante o desenvolvimento de uma consulta SQL, √© uma boa pr√°tica fazer uso do operador `TOP` - Digite e execute `SELECT TOP 100 * FROM <table_name>` para retornar os primeiros 100 registros de uma tabela. Retornar apenas as 100 linhas superiores ser√° mais r√°pido para carregar e permite visualizar as colunas e os tipos de dados na tabela escolhida. 

> **DICA PARA FORMATA√á√ÉO:** Colocar a v√≠rgula em uma nova linha antes da [column_name] permite que voc√™ comente rapidamente as colunas que n√£o deseja visualizar.

> **DICA PARA C√ìDIGO DE COMENT√ÅRIO:** Inserindo `-` na frente dos coment√°rios de c√≥digo. A tecla de atalho para comentar uma linha ou sele√ß√£o em massa no SQL √© tipicamente `Ctrl-K` ent√£o `Ctrl-C`. Para descomentar, fa√ßa `Ctrl-K` ent√£o `Ctrl-U`.

In [ ]:
USE [SQL_TREINAMENTO]
GO

In [ ]:
-- Exemplo de coment√°rio
SELECT TOP 5
    [Name]
    ,[zoriginal_name]
    ,[zmatrix]
FROM station
GO

In [ ]:
-- Alterando o nome das colunas retornadas
SELECT TOP 5
    Name                  AS [Codigo HGA]
    ,zoriginal_name       AS [Nome Original]
    ,zmatrix              AS [Matriz]
FROM station
GO

### Ordem de execu√ß√£o dos comandos SQL

O SQL Server n√£o faz o processamento dos dados na ordem de escrita, internamente o SQL Server segue a seguinte ordem:

![Execution Order](../img/aula01/execution_order.png)

## 2. Como retornar apenas valores √∫nicos de uma coluna ? ü•¢

Se o objetivo for visualizar apenas os valores exclusivos em uma coluna, por exemplo para entender quais s√£o os valores poss√≠veis da coluna, use o comando `DISTINCT`.

**CASO DE USO:** *Quero ver todas as matrizes dispon√≠veis na tabela de pontos.*

In [ ]:
-- Retornar as matrizes √∫nicas
SELECT DISTINCT zmatrix FROM station

## 3. Filtrando e classificando dados üëΩ

Para obter/filtrar registros espec√≠ficos, ao inv√©s de todos os registros, podemos utilizar o operador `WHERE` adiconalmente a uma instru√ß√£o `SELECT` ... `FROM`. A sintaxe b√°sica deste operador considera o uso de comparadores como `=`, `<`, `>`, `LIKE` e `BETWEEN`. Para utilizar m√∫ltiplos crit√©rios no filtro, utilizamos os operadores `AND` e `OR`.

> **DICA:** O operador `LIKE` permite localizar correspond√™ncias de texto parciais, utilizando o caractere curinga `%`. Por exemplo, para localizar todos os par√¢metros iniciados com a palavra "Solidos", digite e execute `SELECT * FROM zparameters WHERE zchemical_name LIKE 'Solidos%'`.

Para ordenar os resultados de acordo com uma ou mais colunas, o operador `ORDER BY` pode ser utilizado adiconalmente a uma instru√ß√£o `SELECT` ... `FROM`. Para determinar a ordem de classifica√ß√£o, utilizamos as palavras chave `ASC` ou `DESC`.

In [ ]:
-- Filtro simples
SELECT *
FROM station
WHERE zlocation = 'Mina D'

In [ ]:
-- Filtro avan√ßado
SELECT *
FROM station
WHERE 
    ([zlocation] = 'Mina A' OR [zlocation] = 'Mina D')
    -- [zlocation] IN ('Mina A', 'Mina D')
    AND [status] = 'Desativado'

In [ ]:
-- Par√¢metros iniciados com "Solidos"
SELECT *
FROM zparameters
WHERE zchemical_name LIKE 'Solidos%'

In [ ]:
-- Mais exemplos de filtros e ordena√ß√£o
SELECT
    Station
    ,date_              AS [Data]
    ,depth_             AS [Profundidade (m)]
    ,zwl_elevation      AS [Cota NA (m)]
    ,dry_indicator      AS [Seco?]
    ,zstatus            AS [Status]
    ,zdata_type         AS [Tipo Dado]
    ,zinstrument_type   AS [Tipo Instrumento]
    ,zmeasurement_resp  AS [Resp Medicao]
    ,zfrequency         AS [Periodicidade]
FROM gw_level
WHERE [date_] >= '2023-01-01'
-- WHERE [date_] BETWEEN '2023-01-01' AND '2023-02-01'
ORDER BY [Station], [date_] DESC;

## Criando novas colunas ü•ò

Para criar uma coluna adicional na tabela consultada, digite o nome da nova coluna na lista de colunas especificada na instru√ß√£o `SELECT`.

In [ ]:
-- Criar novas colunas
SELECT TOP 5
    Name                  AS [Codigo HGA]
    ,zoriginal_name       AS [Nome Original]
    ,zmatrix              AS [Matriz]
    ,'Nova Coluna'        AS [Nova Coluna]
    -- ,[Nova Coluna] = 'Nova Coluna'
FROM station

## Alterando o tipo de dados das colunas üîä

Pode ser necess√°rio alterar o tipo de dados das colunas para efetuar determinadas opera√ß√µes, tais como:

1. Mudar para um tipo de dados `INT` ou `FLOAT` para usar fun√ß√µes de agrega√ß√£o como `SUM` e `AVERAGE`.
2. Mudar para um tipo de dados `VARCHAR(n)` ou `NVCARCHAR(n)` para concatenar com outras colunas string/text.
3. Alterando duas colunas de tabelas sendo mescladas para o mesmo tipo de dados para concaten√°-las!

Para isto √© necess√°rio utilizar o comando `CAST()` .

## Exerc√≠cio: Alterando dado de DATETIME para DATE usando `CAST`

1. Usando a fun√ß√£o `GETDATE()` √© poss√≠vel retornar o dia e hora atuais. Como podemos retornar apenas a data ??

**Nota:** _Uma instru√ß√£o `SELECT`¬†n√£o necessita, obrigatoriamente, de terminar com `FROM <tabela>`._

In [ ]:
SELECT GETDATE()

In [ ]:
SELECT
    Station
    ,date_                              AS [DataHora]
    ,CAST(date_ AS DATE)                AS [Data]
    ,depth_                             AS [Profundidade (m)]
    ,zwl_elevation                      AS [Cota NA (m)]
    ,dry_indicator                      AS [Seco?]
    ,zstatus                            AS [Status]
FROM gw_level
WHERE [date_] >= '2023-01-01'

In [ ]:
-- Retornando a data como m√™s-ano
SELECT TOP 10
    Station
    ,date_                              AS [DataHora]
    ,CAST(date_ AS DATE)                AS [Data]
    -- ,CAST(MONTH(date_) AS VARCHAR) + '-' + CAST(YEAR(date_) AS VARCHAR)   AS [MesAno]
    ,FORMAT(date_, 'MMM/yy')   AS [MesAno]
    ,depth_                             AS [Profundidade (m)]
    ,zwl_elevation                      AS [Cota NA (m)]
    ,dry_indicator                      AS [Seco?]
    ,zstatus                            AS [Status]
FROM gw_level
WHERE [date_] >= '2023-01-01'

## Como retornar um valor baseado em outra coluna ? üïπ

A fun√ß√£o `IIF` permite aplicar o equivalente a uma instru√ß√£o *if-else* no SQL. 

Tamb√©m √© poss√≠vel utilizar o operador `CASE WHEN ... THEN ... END`.

> **Dica:** Instru√ß√µes `CASE WHEN` longas s√£o **indesej√°veis** no c√≥digo SQL. Caso o objetivo seja realizar um c√°lculo com v√°rias condi√ß√µes l√≥gicas (*if-else*) aninhadas, de forma similar a uma tabela de refer√™ncia, crie uma tabela de refer√™ncia, por favor.

In [ ]:
SELECT
    Station
    ,sample_id      AS [ID Amostra]
    ,sample_date    AS [Data Amostra]
    ,sample_type    AS [Tipo Amostra]
    ,CASE
        WHEN sample_date <= '2019-01-01' THEN 'Pr√© Instala√ß√£o'
        WHEN sample_date <= '2022-05-01' THEN 'Durante Instala√ß√£o'
        -- Condi√ß√µes adicionais...
        ELSE 'P√≥s Instala√ß√£o'
    END             AS [Per√≠odo]
FROM parameter_sample

## Desafio: C√°lculo da **vaz√£o operacional de po√ßos**

Escrever uma consulta SQL para calcular a vaz√£o m√©dia de cada po√ßo por dia.

Notebook completo: üìí [Desafio Aula01](../notebooks/desafios/Aula01_Challenge.ipynb)